.wrapper {
    font-family: Roboto;
    background-color: #f5f6f7;
}

.wrapper2 {
    font-family: Roboto;
    background-color: lightskyblue;
}

.navbar li {
    font-size: 1.125rem;
    font-weight: bolder;
    text-transform: uppercase;
    display: inline-block;
}

.navbar a {
    color: #16a085;
    text-decoration: none;
    letter-spacing: .2rem;
    margin-right: 5.1vw;
}

.navbar {
    padding: 4vh 0vh;
    text-align: center;
}

.div-img {
    width: 100vw;
}

h1 {
    color: #373737;
    font-size: 1.375rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 5vh;
    text-align: center;
    letter-spacing: .2rem
}

.Lorem {
    color: #373737;
    font-weight: 900;
    text-align: center;
    line-height: 1.625;
    padding: 3vh 8.6vw 2vh;
    letter-spacing: .2rem;
}

.button button {
    font-weight: bold;
    background-color: #16a085;
    font-family: Varela Round;
    text-transform: uppercase;
    font-size: .75rem;
    color: #ffffff;
    line-height: 1.667;
    padding: 2.5vh 2.5vw;
    border-radius: .2vw .2vw;
    border: none;
    letter-spacing: .2rem;
    outline: none;
}

.button {
    text-align: center;
    padding: 2vh 0 12vh
}

.footer {
    padding: 5.6vh 8.1vw 5.6vh 0vh;
    text-align: right;
    font-weight: 900;
    color: #373737;
    background-color: #ffffff;
    letter-spacing: .2rem;
}