wrapper {
    font-family: Montserrat;
}

.service,
.brightness,
.gallery1,
.news,
.wts {
    max-width: 1160px;
    margin: 0 auto;
}

header {
    height: 1132px;
    background-image: url(img/Sections_background/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: rgba(73, 71, 63, 0.6);
}

.navli {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 100%;
    cursor: pointer;
}

.ul_container ul {
    height: 100%;
    display: flex;
}

.ul_container {
    height: 100%;
}

.navli a,
.navli i {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.813rem;
    color: #b8b8b8;
    text-transform: uppercase;
}

.navli:hover a,
.navli:hover i {
    color: #18cfab;
}

.navli:hover {
    border-bottom: solid 2px #18cfab;
}

.ham_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.998rem;
    font-weight: 700;
    color: #18cfab;
}

.ham_logo span {
    font-weight: 400;
    color: #fff;
}

.hexagon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 58px;
    height: 67px;
    background-image: url(img/hexagon.png);
}

.hexagon .h {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.presentation {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1012px;
    text-transform: uppercase;
    color: #fff;
}

.wp_theme {
    font-size: 2.188rem;
    font-weight: 700;
}

.wp_theme span {
    color: #18cfab;
}

.creative {
    font-weight: 700;
    font-size: 4.938rem;
    line-height: 1.9;
}

.jb {
    color: #d4d4d4;
    font-size: 2.125rem;
    font-weight: 300;
    text-transform: none;
}

.p_buttons {
    padding-top: 8rem;
}

.en,
.bn {
    color: #fff;
    border-radius: 4px;
    background-color: #18cfab;
    width: 166px;
    height: 61px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    /*    align-content: space-around;*/
    justify-content: space-around;
    border: none;
    border-top: solid white 4px;
    cursor: pointer;
    padding: 0 20px;
}

.plus {
    font-weight: 700;
    font-size: 2rem;
}

.bn {
    background-color: #00cbf6;
    margin-left: 2rem;
}

.mosaic {
    display: flex;
    height: 374px;
    align-items: center;
    width: 100vw;
}

.pointer,
.daimond,
.eco,
.device {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 25%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.9;
    font-size: 1.25rem;
    font-weight: 700;
}

.pointer,
.eco {
    background-color: #162630;
    color: #18cfab;
    border-top: #18cfab solid 7px;
}

.daimond,
.device {
    background-color: #18cfab;
    color: #fff;
    border-top: #fff solid 7px;
}

h2 {
    color: #4e4e4e;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0 auto;
}

h2:after {
    content: "";
    display: block;
    transform: skewX(75deg);
    margin-top: 3rem;
    height: 3px;
    width: 5rem;
    border-bottom: 1px solid #18cfab;
    border-top: 1px solid #18cfab;
    margin: 70px auto 70px;
}

.service,
.gallery1,
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 85px 0;
}

.wrap_gallery1 {
    background-color: #f8fcfe;
}

.ul_service,
.ul_gallery1 {
    display: flex;
    margin-bottom: 90px;
}

.li_service {
    color: #717171;
    display: block;
    background-color: #f8fcfe;
    width: 192px;
    height: 73px;
    border: solid 1px rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

.li_service:hover:after {
    content: "";
    display: block;
    transform: rotate(45deg);
    width: 24px;
    height: 24px;
    background-color: #18cfab;
    position: absolute;
    top: 60px;
}

.li_service:hover {
    background-color: #18cfab;
    border: none;
    color: #fff;
}

.result {
    padding-top: 24px;
    height: 150px;
}

.show {
    width: 194px;
    height: 139px;
    float: left;
    padding-right: 10px;
}

.ser_wrap {
    width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ready {
    height: 474px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(img/Sections_background/section2.jpg);
    background-size: cover;
    background-position: center;
}

.brightness {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: #fff;
}

.rdy {
    color: #18cfab;
    font-size: 2.5rem;
    font-weight: 700;
}

.pluses {
    color: #d8d8d8;
    text-transform: none;
    font-weight: 400;
    text-align: center;
}

.filtred {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.random {
    flex-basis: 25%;
    display: inline-block;
    position: relative;
}

.filter {
    color: #717171;
    display: block;
    background-color: #f8fcfe;
    width: 192px;
    height: 73px;
    border: solid 1px rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.filter:hover {
    color: #18cfab;
    border-top: solid 2px #18cfab;
    cursor: pointer;
}

.add {
    border: none;
    margin-top: 71px;
}

.near_filtred {
    display: inline-flex;
    border-top: solid 2px #18cfab;
    background-color: #f8fcfe;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.near_filtred:hover {
    opacity: 1;
}

.chain,
.magnifier {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #18cfab;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.chain {
    border: solid 1px #18cfab;
    color: #18cfab;
    background-color: #fff;
}

.cd {
    color: #18cfab;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.wd {
    color: #8a8a8a;
    font-size: 0.75rem;
    font-weight: 300;
}

.news_wrap {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    background-color: #203e38;
    position: absolute;
    right: 0;
    padding: 6%;
}

.newsblock img {
    width: 263px;
}

.newsblock:hover .date {
    background-color: #18cfab;
}

.newsblock {
    cursor: pointer;
    position: relative;
    margin-bottom: 45px;
    background-color: #f8fcfe;
    border: solid 1px rgba(128, 128, 128, 0.3);
}

.ap {
    color: #717171;
    font-size: 1.124rem;
    font-weight: 700;
    line-height: 2.223;
    padding-left: 1rem;
}

.comment {
    color: #777;
    font-size: 0.874rem;
    font-weight: 300;
    line-height: 2.223;
    padding-left: 1rem;
}

.wts_wrap {
    background-image: url(img/Sections_background/section3.jpg);
    background-size: cover;
    background-position: center;
}

.wts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    height: 852px;
    padding: 100px 0;
}

.abouttheham {
    color: #fff;
}

.ʻ {
    display: block;
    color: #18cfab;
    font-size: 10rem;
    font-weight: 700;
    line-height: 0;
}

.pluses {
    color: #d8d8d8;
    text-transform: none;
    font-weight: 400;
    text-align: center;
}

.about_ham {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 690px;
    height: 350px;
}

.quote {
    text-align: center;
    color: #bbbbbb;
    font-weight: 300;
}

.name {
    color: #18cfab;
    text-transform: uppercase;
    font-weight: 700;
}

.position {
    color: #bbbbbb;
    font-size: 0.813rem;
    font-weight: 300;
}

.foto {
    width: 143px;
    height: 143px;
    border-radius: 50%;
    border: solid 2px #18cfab;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.arsen,
.natalia,
.hasan,
.tatyna {
    background-size: cover;
    background-position: center;
}

.arsen {
    background-image: url(img/foto/arsen.png);
}

.natalia {
    background-image: url(img/foto/natalia.png);
}

.tatyna {
    background-image: url(img/foto/tatyna.png);
}

.hasan {
    background-image: url(img/foto/hasan.png);
}

.fotos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ico {
    margin-top: 100px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
}

.chosen {
    box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
    border: solid 1px #18cfab;
    box-sizing: border-box;
    position: relative;
    bottom: 10px;
}

.width0 {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.li {
    margin: 0 2rem;
}

.move {
    color: #bbb;
    position: relative;
    bottom: 20px;
    border: 1px solid #bbb;
    width: 31px;
    height: 31px;
    text-align: center;
    line-height: 2rem;
    box-sizing: border-box;
    cursor: pointer;
}

.move:hover {
    border: none;
    background-color: #18cfab;
}

.footer {
    height: 108px;
    background-color: #22353f;
    color: #aeaeae;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.857;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span_footer {
    color: #18cfab;
}