body {
    background: url(img/back.png);
    background-size: cover;
}

.main {
    margin: 0 auto;
    padding: 49px 150px 20px 157px;
    box-sizing: border-box;
    font-family: Verdana;
    color: #fff;
    width: 1366px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.167;
    text-align: right;
}

.header {
    min-height: 93px;
    height: 6.8%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5%;
}

.logo {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*спрайты*/

.ico {
    width: 46px;
    height: 44px;
    background: url('img/logo.png') no-repeat;
    overflow: hidden;
}

.logo:hover>div>.ico {
    background: url('img/logo2.png') no-repeat;
}

.logo:hover>p {
    color: #f26522;
}


/*спрайты*/

.wraper {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo p:nth-child(2) {
    font-size: 1.813rem;
    font-weight: 700;
}

.logo p:last-child {
    font-size: 1.125rem;
    font-weight: 700;
}

.tours {
    display: flex;
    justify-content: space-between;
}

.tours p {
    text-align: center;
}

.tours>div {
    margin-bottom: 4.3%;
}

.img {
    margin-bottom: 4%;
    position: relative;
    overflow: hidden;
}

img {
    margin-bottom: -4px;
    width: 100%;
}

.card:hover .pop {
    transition: 1s;
    bottom: 0;
}

.card:hover>p {
    color: #f26522;
}

.pop {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #f26522;
    bottom: -25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
}

.pop>p:first-child {
    font-size: 0.625rem;
    text-align: left;
}

.pop>p:nth-child(2) {
    font-size: 1.25rem;
    text-align: left;
}

.pop>p:last-child {
    font-size: 0.875rem;
    text-align: right;
    flex-basis: 100%;
    line-height: 5;
}

.main>p {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
}