.main	{
	padding:49px 150px 20px 157px;
	box-sizing:border-box;
	width: 1366px;
	background: url(img/back.png);
	font-family: Verdana;
	color: #fff;
}

.contacs{
	float:right;
} 

.header {
	float:left;	
	margin-bottom: 10px;
}

.tours::before { 
   content: ""; 
   display: block;
   clear: both;
}

h1 {
	display: inline-block;
	text-transform: uppercase;
}

h1 :first-child{
	font-size: 1.813rem;
	font-weight: 700;
}

h1 :last-child{
	font-size: 1.125rem;
	font-weight: 700;
}

a {
	color:#fff;
}

.logo {
	width: 46px;
	height: 44px;
	display:inline-block;
	background: url(img/logo.png);
}

.logo img{ 
	opacity:0;
}
a:hover .header .logo img,a:hover .header h1 {
	opacity:1;color:#f26522;
}
.contacs{
	margin-top:15px;
}

.line div {
	display: inline-block;
}
.line {
	margin-top:47px;
}

div.wrapper {
   padding: 2px;
   position: relative;
   overflow: hidden;
   box-sizing: border-box;
   background: linear-gradient(white, black);
}

.pop-up {
	width: 100%; height: 63px;
	display:block;
	position:absolute;
	left:0px;bottom: -63px;
	background-color:#f26522;
}

.nav:hover .pop-up{
	bottom: 0px;
	transition: 1s;
}
.nav:hover >p{
	color:#f26522;
}

.footer {
	margin-top:50px;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
}

.nav>p {
	margin-top:20px;
	 text-align: center;
	 font-size: 1.125rem;
	 font-weight: 400;
}

p.from {
	line-height: 2.1;
	text-align: left;
	font-size:0.625rem;
	font-weight: 400;

}
p.price{
	text-align: left;
	display:inline-block;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.05;
	
}

.from, .price {
	padding-left:21px;
}

.wrapper span {
	text-align: right;
	display:inline-block;
	float: right;
	padding-right:18px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;

}

span:after {
	content:">"
}

a{
	text-decoration:none;
}

.line a {
	margin-right: 56px;
}