.main {
	width:1280px;
	margin: 4.8vh 6.7vw 2.3vh 6.8vw;
	font-family: myriad pro;
}

h1 {
	margin-bottom: 3.5vh; 
	font-size: 5em;
	font-weight:400;
	}

h1 span {
	color:#000000;
}

h1 a {
	color: #4bcaff;
	text-decoration:none;
}

.navbar li {
	display: inline-block;
	padding: 2.03vh 2.85vw 2.03vh 2.85vw;
	font-family: 'Myriad Pro';
	font-size: 1.5rem;
	font-weight: 400;
	}

.navbar { 
	height: 5.4%;
	width:  100%; 
	text-align: center;
 	background:#35444f;	
}

.navbar a {
	color:  #ffffff;
	text-decoration: none;
}

.navbar	li:hover {
	background-color:#222f3a;
}

.divs {
	margin-top:4vh;
}

.menu {
	margin-right: 4%;
	float:left;
	border-style:solid ;
 	border-color: black;
 	border-width: 1px;
 }

.leftbar a { 
	text-decoration: none;
	color:  inherit;
	font-size: 1.687rem;
	font-weight: 400;
	line-height: 3.293;
	text-align: left; 
}	

.leftbar li{
	padding: 0 7.56vw 0 3vw;
	color:  #485863;
}

.leftbar li:hover {
	padding: 0 5.56vw 0 5.0vw;
	background-color:#dcdcdc;
	color:  #000000;
}

.divs::after { 
   content: ""; 
   display: block;
   clear: both;
}

.img {
	margin: 0 0 1.6% 33.5%;
 	padding: 5.86% 0 5.7% 21%;
 	overflow: hidden;
	border-style:solid ;
 	border-color: black;
 	border-width: 1px;	
 }

 img{
 	display:block;
 	transition:all 1.5s ease;
 }

img:hover{
	transform: scale(1.5);
}

p{
	padding: 2.3% 0 0 33.5%;
	font-family: 'Myriad Pro';
	color:  #2c2b2b;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.333;
	text-align: left;
}
p:last-of-type{
	margin-bottom: 4vh;
}

.footer li{
	display: inline-block;
	padding:0 1.75% 0 1.75%;
	font-family: 'Myriad Pro';
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 3.214;
	color:  #0c1927;
	text-align: left;	
}

.footer {
 	text-align: left;
	background:#b5b8bb;
	height: 5.4%;
	

}
.footer a {
	color:  inherit;
	text-decoration: inherit;
	
}

.footer	li:hover {
	text-decoration: underline;
	color:  #3181a6;
}

.footer li:last-of-type:hover {
	color:  #0c1927;
 text-decoration: none;
}

.footer li:last-of-type{
	padding-left:11%;
} 