.wraper{
    width:100vw;
    height:100vh;
    background-image: url(../img/back.png);
    background-repeat:no-repeat;
    background-size:cover;
    font-family: Verdana;
    
    
}

header {
    box-sizing: border-box;
    height:7.03%;
    min-height: 35px;
    padding:0 5.9% 0 5.5%;
    background-color: rgba(0, 0, 0, 0.41);
    
}

h1{ float: left;
    margin: 1.30% 0 1.39% 0;
    font-size: 1.25rem;
    color:  #fff;
    font-weight: 700;
    text-transform: uppercase;     
}

h1:hover{
    color: #3cb878;
}

/*Спраты иконок*/
.icoic-forum, .icoic-journey,.icoic-caledar{ 
    display: inline-block;
    margin: 1.30% 28px 1.39% 0;
    overflow: hidden ;
    background: url(../img/icons.png) no-repeat;
    text-indent: -9999px;
    float: right;
}

/*Спраты иконок*/
.icoic-forum{ background-position: -1px -0px; width: 28px; height: 20px; }
.icoic-forum:hover { background-position: -1px -21px; width: 28px; height: 20px; }
.icoic-journey{ background-position: -1px -42px; width: 20px; height: 20px; }
.icoic-journey:hover { background-position: -1px -63px; width: 20px; height: 20px; }
.icoic-caledar:hover { background-position: -1px -84px; width: 19px; height: 19px; }
.icoic-caledar{ background-position: -1px -104px; width: 19px; height: 19px; }
/*Спраты иконок*/

a {color:  #3cb878;
font-size: 0.875rem;
font-weight: 400;
text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

.iconsLogin>p {
display: inline-block;
float: right;
margin: 1.30% 0 1.39% 0;
padding-left: 28px;
color:  #ffffff;
font-size: 0.875rem;
font-weight: 400;
line-height: 1.5;
border-left: solid 1px rgba(180, 180, 180, 0.5);
}

header:after { 
   content: ""; 
   display: block;
   clear: both;
}

.registerForm { 
    width: 32.5%;
    max-width: 435px;
    height: 76%;
    box-sizing:border-box;
    padding-top: 2.12% ;
    margin: auto;
    margin-top: 4.76%;
    background-color: #fff;
    border-radius: 10px;
}

.formTop {
    padding: 0 14% 0 9%;
    border-left: 18px solid;
    border-left-color:  rgb(60, 184, 120);
   
}

.formTop>p:first-of-type{
    display:inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    color:  #434343;
    
}

.formTop>p:last-of-type{
    display:inline-block;
    float:right;  
    padding-top:3%;
}

.formTop:after { 
   content: ""; 
   display: block;
   clear: both;
}

.buttons>button {
    display :inline-block;
    padding:1.7% 0 1.7% 0;
    width: 40.5%;
    margin-top: 5%;
    cursor: pointer;
    
}

.formTop>p>a {font-size: 1rem;
}

.buttons>button>p {
    display: inline-block;
    padding: 0 5% 0 5% ;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;  
}

.buttons>button:first-of-type {
    background-color:rgb(38, 75, 150);
    border-radius: 3px;
    border:none; 
} 

.buttons>button>p:first-of-type {
    font-size: 1.25rem;
    font-weight: bolder;
    border-right: solid 1px rgba(180, 180, 180, 0.5);
    
}
     
.buttons>button:last-of-type {
    background-color:rgb(195, 65, 44);
    border-radius: 3px;
    border:none;
}
.buttons {
    padding-left: 13.5%;
    
}

.line {
    display:inline-block;
    position:relative;
} 

.buttons>p {
    display:inline-block;
    margin-top:10%;
    margin-bottom: 5%;
    color:rgba(180, 180, 180, 1);
    
}

.line { 
    width: 37.5%;
    height:5px ;
    border-top: solid 1px rgba(180, 180, 180, 0.5);
}

form input {
    width: 63%;
    margin-left: 14%;
    margin-bottom: 2%;
    padding: 3% 0 3% 3%;
    border-radius: 3px;
    font-family: Verdana;
    outline: none; 
    font-size: 0.875rem;
    font-weight: 400;
    border: solid 1px rgba(180, 180, 180, 0.5);

}

form input::placeholder {
    color:  #bebebe;
}

.forms p {
font-size: 0.875rem;
font-weight: 400;
}

form input:focus {
    margin-bottom: 4%;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.checkBox  {
        display: inline-block;
        margin-left: 14%;
        width: 18px;
        height:18px;
        cursor: pointer;
        border: solid 1px rgba(180, 180, 180, 0.5);
        border-radius: 3px;
        background-color: inherit;
}

.checkBox:focus{
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
    outline: none;
}

.forms>label>p {
display: inline-block;
margin-top: 4%
}

label>p:hover {
    cursor:pointer;
}

.createAccount {
    width: 71.5%;
    display:block;
    margin-top: 4%;
    margin-left: 14%;
    padding: 3% 0 3% 0;
    font-family: Verdana;
    background-color:#39b979;
    border-radius: 3px;
    border:none;
    color: #fff;
    font-size: .875rem;    
}


.createAccount:hover {background-color: #2e9b65;}
    








