@keyframes starwars {
    from {
        transform: rotateX(15deg) translateY(85%);
    }
    to {
        transform: rotateX(15deg) translateY(-0%);
    }
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/back.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    perspective: 200px;
    position: relative;
}

.lorem {
    font-size: 3rem;
    text-align: center;
    color: yellow;
    animation-name: starwars;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    padding: 0 25%;
    box-sizing: border-box;
}