.main {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    cursor: default;
}

.price p:first-child {
    font-size: 3.75rem;
    font-weight: 700;
}

.price p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.price p:nth-child(3) {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;
}

.price {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    width: 277px;
    height: 86px;
    text-align: left;
    background-color: #fafafa;
    box-shadow: inset -5px 0px 3px -3px rgba(0, 0, 0, 0.27);
}

td {
    text-align: center;
    vertical-align: middle;
}

.standart,
.premium,
.ultimate {
    height: 70px;
    font-weight: 700;
    color: #ffffff;
    box-shadow: none;
}

.standart {
    background-color: #89c331;
    font-size: 1.5rem;
    line-height: 1.167;
}

.ultimate {
    font-size: 1.875rem;
    line-height: 0.933;
    background-color: #f04a56;
}

.premium {
    font-size: 1.5rem;
    line-height: 1.167;
    background-color: #20807c;
}

.pricingPlan {
    width: 310px;
    height: 156px;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 0.933;
    background-color: #fafafa;
}

.pricingPlan p:first-child {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.556;
}

tr td {
    box-shadow: inset -5px 0px 3px -3px rgba(0, 0, 0, 0.27);
}

.storage,
.email,
.products {
    height: 69px;
    background-color: #f2f2f2;
}

.bandwidth,
.support,
.users {
    height: 69px;
    background-color: #e3e3e3;
}

i {
    vertical-align: bottom;
}

td:hover>i {
    color: deepskyblue;
}

button {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    border-width: 0 0 7px 0;
    border-style: solid;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.75;
    color: #fff;
    outline: none;
}

.buttons td {
    height: 111px;
}

.buttons td:first-child button {
    background-color: #484848;
    border-color: #404040;
}

.buttons td:nth-child(2) button {
    background-color: #89c331;
    border-color: #79b027;
}

.buttons td:nth-child(3) button {
    background-color: #f04a56;
    border-color: #df3a46;
    ;
}

.buttons td:nth-child(4) button {
    background-color: #20807c;
    border-color: #16736f;
}

.buttons td:first-child {
    background-color: #dedede;
}

.buttons td:nth-child(2),
.buttons td:nth-child(3) {
    background-color: #efefef;
}

.buttons td:nth-child(4) {
    background-color: #f4f4f4;
}

table {
    border-style: solid;
    border-color: #374765;
    border-width: 23px 30px 32px 22px;
}