.main {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
}

.header,
.lake,
.tree,
.speed {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 100vh;
    padding: 0 0 145px 86px;
    color: #fff;
    background-image: url(../img/bg1.jpg);
    justify-content: flex-end;
    align-items: flex-start;
}

.speed {
    height: 380px;
    background-image: url(../img/bg2.jpg);
    padding: 125px 0;
}

.tree {
    height: 475px;
    background-image: url(../img/bg3.jpg);
    padding: 100px 0;
}

.lake {
    height: 485px;
    background-image: url(../img/bg4.jpg);
    padding: 100px 0;
}

.sertiz {
    font-size: 3rem;
    margin-bottom: 16px;
}

.awesome {
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    text-transform: none;
    margin-bottom: 32px;
}

.smart_design {
    display: flex;
    font-size: 3.375rem;
}

.we {
    color: #f1ad1d;
    background-color: #fff;
    border: solid 1px #fff;
    padding: 45px 32px;
}

.make {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 45px 32px;
    border: solid 1px #fff;
}

.spliter {
    height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    box-sizing: border-box;
}

.bold {
    color: #fff;
    font-size: 1.375rem;
}

.spliter_bold {
    color: #333;
}

.thin {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    font-size: 1.063rem;
    color: #4d4943;
}

.lake-thin {
    color: #fff;
    text-align: center;
    line-height: 2rem;
}

.yelow-line {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
}

.white-line {
    background-color: #fff;
    width: 280px;
    height: 3px;
}

.s-yellow {
    color: #f1ad1d;
}

.ref {
    color: #f1ad1d;
    text-decoration: none;
    line-height: 10px;
}

.logos {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 65px;
}